* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imggg {
    width: 100px;
    height: 100px;
    float: right;
}

.imgggg {
    width: 100px;
    height: 100px;
    float: left;
}

hr {
    margin: 10px;
}

p::after {
    content: '';
    clear: both;
    display: block;
}