* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {}

div:not(.container) {
    width: 40%;
    height: 50%;
    font-size: 50px;
    background: red;
    color: white;
    float: left;
    margin: 10px;
}

div:first-child:not(.container) {
    width: 70%;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

section {
    height: 20px;
    background: gray;
}